@charset "utf-8";

/* ========== 共通 ========== */
html, body {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  background: #ffffff;
}
body, div, p, h1, h2, h3, a, ul, ol, li, button {
  margin: 0;
  padding: 0;
}
h2, h3, p {
  color: #333333;
}
ul, ol {
  list-style-type: none;
}
a {
  color: #0c419a;
  text-decoration: none;
}
.sns-icon {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .sns-icon {
    width: 24px;
    height: 24px;
  }
}
/* スクリーンリーダー用のテキストを非表示にする設定 */
/* 米政府デジタルサービスチーム18F 「18F Accessibility Guide」より */
/* https://accessibility.18f.gov/hidden-content/ */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ========== ヘッダー ========== */
header {
  margin-bottom: 23px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  header {
    margin-bottom: 28px;
  }
}
/* 固定部 */
.header-container {
  width: 100%;
  height: 56px;
  background: #ffffff;
  box-sizing: border-box;
  padding-left: 37px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  z-index: 1;
  position: fixed;
}
.header-bk {
  width: 100%;
  height: 62px;
}
  /* ロゴ */
.header-logo {
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  padding: 12px 0;
}
.header-logo a {
  width: 56px;
  height: 28px;
}
/* ナビゲーションメニュー */
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: none;
}
@media screen and (min-width: 1180px) {
  .header-nav-list {
    display: flex;
    justify-content: space-between;
  }
  .header-nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .header-nav li {
    margin: 0 0.5em;
    padding: 1em 0;
    display: inline-block;
  }
  .header-nav a {
    display: block;
    padding: 1em 0;
    color: #000000;
    font-weight: 600;
  }
  .header-nav li a:hover {
    color: #0c419a;
    border-bottom: 2px solid #0c419a;
    transition: 0.2s;
  }
}
/* ナビゲーションボタン */
.nav-btn {
  display: block;
  box-sizing: border-box;
  width: 56px;
  height: 40px;
  padding: 11px 0;
  text-align: center;
}
.nav-btn:hover {
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    height: 60px;
    padding: 21px 0;
  }
}
/* ハンバーガーボタン */
.hamburger-btn {
  position: relative;
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.hamburger-line {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 18px;
  height: 2px;
  background: #000000;
}
.hamburger-line::before,
.hamburger-line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000000;
  content: '';
}
.hamburger-line::before {
  top: -6px;
}
.hamburger-line::after {
  top: 6px;
}
.hamburger-btn:hover {
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .hamburger-btn {
    width: 60px;
    height: 60px;
  }
  .hamburger-line {
    width: 20px;
  }
  .hamburger-line::before,
  .hamburger-line::after {
    width: 20px;
  }
  .hamburger-line::before {
    top: -8px;
  }
  .hamburger-line::after {
    top: 9px;
  }
}

/* パンくずリスト */
.breadcrumb {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb a {
  padding-right: 12px;
  color: #999999;
  background: url(../images/icon-chevronRight.svg) no-repeat top 4.5px right 1.5px;
  background-size: 5px 10px;
}
/* ========== メインエリア========== */
/* メインタイトル */
.main-h1-container {
  width: 100%;
  height: 200px;
  background: url(../images/h1_whats_2.jpg) center;
  background-size: cover;
}
.main-h1 {
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 1000px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
.main-h1 span {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-h1-container {
    height: 250px;
  }
  .main-h1 {
    padding: 42px 0;
    font-size: 28px;
  }
  .main-h1 span {
    display: block;
    margin-bottom:20px;
    font-size: 20px;
    font-weight: 400;
  }
}

/* SNS シェアボタン */
.sns-share {
  text-align: right;
  list-style-type: none;
  position: relative;
}
.sns-share::before {
  content: "Share";
  color: #666666;
  font-size: 12px;
  font-family: Arial;
  font-weight: 600;
  position: absolute;
  top: 3px;
  right: 87px;
}
.sns-share li {
  display: inline;
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
  .sns-share li {
    margin-left: 18px;
  }
  .sns-share::before {
    top: 6px;
    right: 139px;
}
}

/* メインリード */
.main-container {
  margin: 0 auto 0 auto;
  padding: 20px;
  max-width: 800px;
} 
@media screen and (min-width: 768px) {
  .main-container {
    padding: 28px 0 0 0;
  }
}
.main-lead {
  padding: 37px 0;
}
.main-lead h2 {
  margin-bottom: 20px;
  padding-left: 32px;
  font-size: 18px;
  line-height: 1.5em;
  color: #000000;
  background: url(../images/bg-heading-h2.png) no-repeat left 0 top 4px;
  background-size: 22px 22px;
}
.main-lead p {
  margin: 16px 0;
  line-height: 30px;
}
.main-img {
  display: block;
  width: 100%;
  margin: 20px 0 40px 0;
}
@media screen and (min-width: 768px) {
  .main-lead h2 {
    font-size: 22px;
    background: url(../images/bg-heading-h2.png) no-repeat left 0 top 8px;
    background-size: 22px 22px;
  }
}

/* PDFダウンロードボタン */
.pdf-download-btn {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px 0;
  width: 303px;
  height: 70px;
  background: url(../images/icon-chevronRight.svg) no-repeat top 35px left 12px, url(../images/icon-pdf.svg) no-repeat right 93px bottom 17px,#005aac;
  background-size: 6px 10px, 16px 16px;
  color: #ffffff;
  line-height: 19px;
  text-align: center;
}
.pdf-download-btn:hover {
  opacity: 0.8;
  transition: 0.2s;
}

/* リンク */
.links-container {
  display: flex;
  justify-content: space-between;
  margin: 28px 0;
}
.links-container a:hover {
  text-decoration: underline;
}

/* NRIの強み */
.company-strength {
  box-sizing: border-box;
  padding: 26px 20px 20px;
  width: 100%;
  background: #dfecf8;
}
.company-strength h3 {
  margin-bottom: 16px;
  font-size: 16px;
}
.strength-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.strength-list li {
  box-sizing: border-box;
  border: 1px solid #cccccc;
  margin-bottom: 9px;
  width: 100%;
}
.strength-list a {
  display: block;
  background: #ffffff;
  text-align: center;
  padding: 16px 0;
}
.strength-list a:hover {
  background: #f4f4f4;
  transition: 0.2s;
}
@media screen and (min-width: 768px) {
  .company-strength {
    height: 240px;
  }
  .strength-list {
    flex-flow: row;
    justify-content: space-between;
  }
}

/* 企業情報 */
.company-info-container {
  margin: 38px 20px 0 20px;
  border-top: 2px solid #333333;
  padding: 25px 0 0 0;
}
.company-info h2 {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 36px;
  border-bottom: 1px dotted #999999;
  padding-bottom: 55px;
}
.info-section {
  width: 100%;
  margin-bottom: 36px;
  border-bottom: 1px dotted #999999;
  padding: 0 0 39px 0;
}
.info-section h3 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
}
.info-section li {
  padding: 13px 0 12px 0;
}
.info-section a {
  display: block;
  font-size: 14px;
  font-weight: 400px;
  padding-left: 15px;
  background: url(../images/icon-chevronRight.svg) no-repeat top 3px left 0;
  background-size: 3px 8px;
}
.info-section a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .company-info-container {
    max-width: 1000px;
    margin: 88px auto 0 auto;
 }
 .company-info h2 {
   padding-bottom: 36px;
 }
}

/* リンク 前のページへ戻る */
.page-back {
  padding-left: 18px;
  background: url(../images/icon-chevronLeft.svg) no-repeat top 9px left 0;
  background-size: 3px 8px;
}
.page-back:hover {
  text-decoration: underline;
}

/* SNSフォローリンク */
.sns-follow-link {
  box-sizing: border-box;
  width: 100%;
  height: 69px;
  margin: 36px 0 39px 0;
  padding: 24px 0;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.follow-us {
  margin-right: 34px;
  font-family: HelveticaNeue;
  font-size: 14px;
}
.follow-link-icons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.follow-link-icons li {
  margin-left: 30px;
}
.follow-link-icons li a {
  display: block;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .sns-follow-link {
    padding-top: 34px;
    padding-bottom: 30px;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
  }
  .follow-us {
    margin-right: 0;
    font-size: 20px;
  }
  .follow-link-icons li {
    margin-left: 40px;
  }
  .follow-icon {
    width: 28px;
    height: 28px;
  }
}

/* aside */
aside {
  display: none;
}

/* フッター */
footer {
  width: 100%;
  height: 380px;
}
.footer-nav {
  margin-bottom: 7px;
  border-bottom: 1px dotted #999999;
}
.footer-nav a {  
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 39px;
  border-top: 1px dotted #999999;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 18px;
  color: #999999;
}
.footer-nav a:hover {
  text-decoration: underline;
}
small {
  margin-left: 10px;
  font-family: HelveticaNeue;
  font-size: 10px;
  line-height: 19px;
  color: #333333;
}
